extends layout 

block content 
    h1= title 

    ul 
      each director in director_list
        li
          a(href=director.url) #{director.name}
          |  #{director.birth_date} - 
          if !director.death_date
            span Still alive and bitching
          else 
            span #{director.death_date}

        
      else 
        li There are no directors.